#preview > #blockScroll {
    height: calc(100vh - 84px);
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 940px) {
    #preview > #blockScroll {
        height: calc(100vh - 64px);
    }
}
