#preview > #blockScroll {
    height: calc(100vh - 83px);
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

@media (max-width: 940px) {
    #preview > #blockScroll {
        height: calc(100vh - 63px);
        overflow-y: auto;
        overflow-x: hidden;
        bottom: 0px;
        width: 100%;
        position: absolute;
    }
}
