#menu {
    height: calc(100% - (3.2vh + 3.2vw + 4px));
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0px;
    width: 100%;
    position: absolute;
    transition: 1s;
}

#menu > #boxChoice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 5;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#menu > #boxChoice > .block {
    margin: auto;
}

#menu > #boxChoice > .block > .front {
    z-index: 3;
    align-self: center;
}

#menu > #boxChoice > .block > .front > button {
    float: right;
    font-family: Nunito-Bold;
    font-size: calc(1.5vh + 1.5vw);
    z-index: 4;
    text-align: center;
    background-color: #ffffff;
    border: 4px solid black;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 6px;
    transition: 1s;
}

#menu > #boxChoice > .block > .front > button:hover {
    box-shadow: 0 0 0 1px #000000 inset, 0 0 0 2px white inset;
    transition: 0.1s;
    cursor: pointer;
}

#menu > #boxChoice > .block > .front > button:active {
    box-shadow: 0 0 0 2px white inset, 0 0 0 4px #000000 inset;
    transition: 0.1s;
    cursor: pointer;
}

#menu > #boxChoice > .block > .front > button > svg {
    width: calc(5.2vh + 5.2vw);
    height: calc(5.2vh + 5.2vw);
}

@media (max-width: 480px) {
    #menu {
        height: calc(100% - (5.2vh + 5.2vw + 4px));
        overflow-y: auto;
        overflow-x: hidden;
        bottom: 0px;
        width: 100%;
        position: absolute;
    }

    #menu > #boxChoice {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        z-index: 5;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    #menu > #boxChoice > .block:first-child {
        margin-top: 15px;
    }

    #menu > #boxChoice > .block {
        margin-top: 10px;
    }

    #menu > #boxChoice > .block > .front {
        z-index: 3;
        align-self: center;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #menu > #boxChoice > .block > .front > button {
        float: right;
        font-family: Nunito-Bold;
        font-size: calc(1.5vh + 1.5vw);
        z-index: 4;
        text-align: center;
        background-color: #ffffff;
        border: 4px solid black;
        border-radius: 10px;
        width: 80vw;
        height: calc(100vh / 9);
        align-items: center;
        display: flex;
        padding: 6px;
        transition: 1s;
        justify-content: center;
    }

    #menu > #boxChoice > .block > .front > button > svg {
        justify-content: center;
    }
}
